.home {
  position: absolute;
  top: 125px;
  left: 50px;
  font-family: Georgia;
  line-height: 18px;
  font-size: 26px;
  background-color: rgb(248, 230, 182);
  width: 550px;
  border: 5px solid rgb(143, 18, 18);
  padding: 30px;
  margin: 0px;
  -webkit-border-radius: 40px 40px 40px 40px;
}

.posts {
  position: absolute;
  right: 50px;
  top: 125px;
  font-family: Georgia;
  line-height: 18px;
  font-size: 16px;
  background-color: rgb(191, 240, 247);
  width: 550px;
  border: 5px solid rgb(143, 18, 18);
  padding: 30px;
  margin: 0px;
  -webkit-border-radius: 40px 40px 40px 40px;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 7px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  width: 40%;
  border: 1px solid #f6f6f6;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

input[type=button], input[type=submit], button[value='DELETE'] {
  background-color: #af6654;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

.friend_button {
  position: relative;
  left: 350px;
  top: 200px;
}