.posts {
  position: absolute;
  left: 50px;
  top: 150px;
  font-family: Georgia;
  line-height: 18px;
  font-size: 16px;
  background-color: rgb(191, 240, 247);
  width: 88%;
  border-radius: 50px;
  padding: 30px;
  margin: 0px;
  -webkit-border-radius: 40px 40px 40px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 7px 15px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  width: 40%;
  border: 1px solid #f6f6f6;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

input[type=button], input[type=submit], button[value='DELETE'] {
  background-color: #b1462b;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  margin: 3px 3px 3px 3px;
}