<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
  <title>SocialNetwork</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" />
</head>

<body>

<h1 id="social-network">SocialNetwork<h1>

<section id="navigation">
  <div class="links">
    <h3><a href="/home">HOME</a></h3>
  </div>
  <div class="links">
    <h3><a href="/friends">FRIENDS</a></h3>
  </div>
  <div class="links">
    <h3><a href="/posts">POSTS</a></h3>
  </div>
   <div class="links">
    <h3><a href="/profile">PROFILE</a></h3>
  </div>
</section>

  <%= yield %>

  <footer class="branding">
    <small>&copy; 2020 <strong>SocialNetwork</strong></small>
  </footer>
  </div>

</body>

</html>