<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>SocialNetwork</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body class="box notification is-black">
  <div class="columns" style="justify-content: flex-end;">
    <div class="button  is-danger is-pulled-right">
      <p><a href='/logout'>log out</a></p>
    </div>
  </div>
  <div class="container">
    <div class="block">
      <h1 class="is-size-1 has-text-weight-semibold" style="font-family:Georgia; text-decoration: underline;">
        SocialNetwork</h1><br>
      <div class="columns">
        <div class="button is-outlined is-danger column">
          <h3><a href="/home">HOME</a></h3>
        </div>
        <div class="button is-outlined is-danger column">
          <h3><a href="/friends">FRIENDS</a></h3>
        </div>
        <div class="button is-outlined is-danger column">
          <h3><a href="/posts">POSTS</a></h3>
        </div>
        <div class="button is-outlined is-danger column">
          <h3><a href="/profile">PROFILE</a></h3>
        </div>
      </div>
    </div>

    <%= yield %>

  </div>
  <footer class="box notification is-black footer">
    <div class="content has-text-centered">
      <p>
        <strong> <a href="https://github.com/okorkov/social_network" target="_blank">SocialNetwork</strong></a> by Alex
        Okarkau. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
      </p>
    </div>
  </footer>
</body>

</html>