<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
  <title>SocialNetwork</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>

  <%= yield %>

  <footer class="branding">
    <small>&copy; 2020 <strong>SocialNetwork</strong></small>
  </footer>
  </div>

</body>

</html>