<link rel="stylesheet" href="/stylesheets/login.css" />
<section id="login_page">

  <h1 id="social-network">SocialNetwork<h1>

  <div class="welcome">
  <h3>Welcome to the SocialNetwork<h3>
  <h6>Log in:</h6>
  </div>

  <div class="login">
    <form action='/login' method='post'>
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Log In">
    </form>
  </div>

  <p id="sign_up_offer">Or Sign Up<p>

  <div class="signup">
    <form action='/signup' method='post'>
      <div> <input type="text" name="username" placeholder="Username:" ></div>
      <div> <input type="text" name="username" placeholder="Email:" ></div>
      <div> <input type="password" name="password" placeholder="Password:"></div>
      <input type="text" name="first_name" placeholder="First Name:">
      <input type="text" name="last_name" placeholder="Last Name:">
      <p>Date of Birth:</p>
      <input type="date" id="birthday" name="birthday">
      <br>
      <input type="submit" value="Sign Up">
    </form>
  </div>

  


  <div class="branding">
    <small>&copy; 2020 <strong>SocialNetwork</strong></small>
  </div>
 </section>