<link rel="stylesheet" href="/stylesheets/login.css" />
<section id="login_page">

  <h1 id="social-network">SocialNetwork<h1>
  <div class="welcome">
  <h3>Welcome to the SocialNetwork<h3>
  <h6>Log in:</h6>
  </div>
  <div class="all_users"> <p> Users: <%=User.all.size %></p> </div>
  <div class="login">
    <form action='/login' method='post'>
      <input type="text" name="username" placeholder="Username:" required>
      <input type="password" name="password" placeholder="Password:" required> 
      <input type="submit" value="Log In">
    </form>
  </div>

  <p id="sign_up_offer">Or Sign Up<p>

  <div class="signup">
    <form action='/signup' method='post'>
      <div> <input type="text" name="username" placeholder="Username:" required ></div>
      <div> <input type="text" name="email" placeholder="Email:" required></div>
      <div> <input type="password" name="password" placeholder="Password:" required></div>
      <input type="text" name="first_name" placeholder="First Name:" required>
      <input type="text" name="last_name" placeholder="Last Name:" required>
      <p>Date of Birth:</p>
      <input type="date" id="birthday" name="dob">
      <br>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male"> male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female"> female</label>
      <input type="radio" id="other" name="gender" value="other">
      <label for="other"> other</label>
      <br>
      <input type="submit" value="Sign Up">
    </form>
      
  </div>

  


  <div class="branding">
    <a href="https://github.com/okorkov/social_network" target="_blank" <p>&copy; 2020 <strong>SocialNetwork</strong></p>
  </div>
 </section>